body{
    background-color: #9cd6e5;
    overflow-x: hidden;
}
.fondo{
    position: absolute;
    top: 2rem;
    left: 5%;
}
.earth{
    position: absolute;
    width: 35%;
    height: 7rem;
    bottom: 5rem;
    left: 10%;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: auto;
    color: #1c42eb;
    text-align: center;
    color: #4dacc4;
    position: relative;
}

.grad{
    width: 70%;
    text-align: center;
    position: relative;
    left: 15%;
    top: 2rem;
}
.grad_1-6{
    width: 100%;
}

button{
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #dd2e44;

}

    body{
    background-color: #b5f6af;
    overflow-x: hidden;
}

.fondo{
    width: 140%;
    position: absolute;
    top: -5rem;
    rotate: 20grad;
    right: -5rem;
}

.titulo{
    color: #dd2e44;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    position: relative;
}

.tema{
    background-color: #006c56;
    width: auto;
    height: auto;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}
.botonextra{
    text-align: center;
    position: relative;
    top: 1.5rem;
}

.block1{
    position: relative;
    margin: auto;
    width: 80%;
}
.block2{
    position: relative;
    margin: auto;
    width: 80%;
}

@media (min-width: 368px){

.tema{
    width: 20%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
.botonextra{
    width: 99%;
    position: relative;
    top: 5rem;
    text-align: end;
}

.titulo{
    font-size: 80px;
}

.block1 {
  position: relative;
  padding: 0.5rem;
  width: 95%;  
  height: auto;  
  display: flex;
  justify-content: space-between; /* distribuye espacio entre items */
  align-items:flex-start; /* alinea en el eje transversal */
}
.block2{
  position: relative;
  padding: 0.5rem;
  width: 100%;  
  height: auto;  
  display: flex;
  justify-content: space-between; /* distribuye espacio entre items */
  align-items:flex-start; /* alinea en el eje transversal */
}

.fondo{
    width: 55%;
    top: -12rem;
    rotate: 75grad;
    right: 15%;
}
}

/* Colores
titulo #dd2e44
boton #006c56
*/