body{
    background-color: #c3fffd;
    overflow-x: hidden;
}
.fondo{
    position: absolute;
    top: 2rem;
    left: -5%;
}
.earth{
    position: absolute;
    width: 35%;
    height: 7rem;
    bottom: 5rem;
    left: 10%;
}

h1{
    color: #4dacc4;
    position: relative;
}

.grad{
    width: 70%;
    text-align: center;
    position: relative;
    left: 15%;
    top: 2rem;
}
.grad_1-6{
    width: 100%;
}

button{
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #c1dc62;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}
.list-PyS{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.list-TyC{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
}
.list-QyS{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
}

.list-PyS button {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.list-PyS button:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}
.list-TyC button {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.list-TyC button:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

@media (min-width: 368px){

h1{
    font-size: 90px;
    top: -3rem;
}
.grad{
    width: 100%;
    position: relative;
    left: 0;
    top: 2rem;
}

button{
    width: 60%;
    height: auto;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #c1dc62;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.list-PyS{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 5%;
}
.list-TyC{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 50%;
    position: absolute;
    right: 5%;
}

/*Diseño de Fondo*/
.fondo{
    top: 1rem;
    left: 58.5%;
    height: 44rem;
}
.earth{
    width: auto;
    height: 14rem;
    bottom: 4rem;
    left: 2%;
}
}