body{
    background-color: #d4eaed;
}
.botones{
    position: relative;
    text-align: center;
}
.botones2{
    position: relative;
    height: 15rem;
    text-align: center;
}
.boton {
    width: 70%;
    height: 11rem;
    margin-bottom: 1.5rem;
    border-radius: 30px;
    border-color: #ffffffc0;
    cursor: pointer;
}

h1{
   color: #4dacc4;
   font-size: 50px;
   position: relative;
}

#L {
    background-color: #5ce1e6; 
}
#L:hover{
    background-color: #5ce1e6d2;
}

#A{
    background-color: #ffd25e;
}
#A:hover{
    background-color: #ffd15edc;
}

#J{
    background-color: #ffa64d;
}
#J:hover{
    background-color: #ee9a46;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: relative;
    color: white;
}

/*Fondo*/
.maripLeft{
    position: absolute;
    width: 100%;
    top: 21rem;
}
.maripRight{
    position: absolute;
    width: 100%;
    top: 0rem;
}


@media (min-width: 368px){

h1{
    font-size: 100px;
}
    
.boton {
    width: 60%;
    height: 20.5rem;
    margin-top: 1rem;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botones2{
    position: relative;
}

p {
    font-size: 70px;
}
.p2{
    font-size: 70px;
}
.p3{
    font-size: 70px;
}


/*Fondo*/
.maripLeft{
    position: absolute;
    width: 50%;
    top: 28rem;
    left: 0;
}
.maripRight{
    position: absolute;
    width: 50%;
    top: 5rem;
    right: 0;
}
}