body{
    background-color: #9cd6e5;
    overflow-x: hidden;
}
.fondo{
    position: absolute;
    top: 2rem;
    left: 5%;
}
.earth{
    position: absolute;
    width: 35%;
    height: 7rem;
    bottom: 5rem;
    left: 10%;
}

h1{
    color: #4dacc4;
    position: relative;
}

.grad{
    width: 70%;
    text-align: center;
    position: relative;
    left: 15%;
    top: 2rem;
}
.grad_1-6{
    width: 100%;
}

button{
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #dd2e44;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
.list-PyS{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.list-TyC{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
}
.list-QyS{
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
}
