html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d4eaed;
}

.boton{
    background-color: #ffa64d;
    position: absolute;
    font-size: 12px;
    color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    right: 8%;
    top: 1.5rem;
    transition: background-color 0.3s ease;
}
.boton:hover{
    background-color: #ee9a46;

}

/*diseño del fondo*/
.arcoiris {
    width: 80%;
    height: 11rem;
    position: absolute;
    display: flex;
    visibility: visible;
    top: 8rem;
    left: 10%;
    filter: brightness(1)
}

.nubes{
    visibility: visible;
    display: flex;
    position: absolute;
    width: 70%;
    height: 6rem;
    left: -55%;
    top: 7rem;
}
.nubes2{
    visibility: visible;
    display: flex;
    position: absolute;
    width: 70%;
    height: 6rem;
    right: -50%;
}
.nubes3{
    visibility: visible;
    display: flex;
    width: 70%;
    height: 6rem;
    position: absolute;
    right: -40%;
    top: 17rem;
}
.nubes4{
    visibility: visible;
    display: flex;
    width: 70%;
    height: 6rem;
    position: absolute;
    left: -50%;
    top: 17.5rem;
}

.niños{
    align-items: center;
    width: 95%;
    position: absolute;
    top: 17.5rem;
    left: 2%;
    display: flex;
}
.cesped{
    position: relative;
    top: 20.5rem;
    width: 120%;
    height: 5.5rem;
}
.cesped2{
    position: relative;
    top: 21rem;
    width: 120%;
    height: 5.5rem;
}
.arcoiris {
    width: 60%; /* Aumenta el porcentaje si quieres que ocupe más ancho */
    height: auto; /* Mantiene la proporción original */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.titulo-bienvenida {
    font-family: 'Comic Sans MS', cursive;
    font-size: 3rem;
    color: #ff6600;
    text-align: center;
    margin-top: 4rem;
    text-shadow: 1px 1px 2px #fff;
}


@media (min-width: 368px) {

.boton{
    font-size: 18px;
    border-radius: 50px;
    width: 130px;
    height: 35px;
    right: 3%;
    top: 25px;
    transition: background-color 0.3s ease;
}
.arcoiris {
    width: 45%;
    height: 20.5rem;
    position: absolute;
    display: flex;
    visibility: visible;
    top: 3rem;
    left: 26%;
}
.nubes{
    position: absolute;
    width: 25%;
    height: 10rem;
    top: 3rem;
    left: -7%;
}
.nubes2{
    position: absolute;
    width: 25%;
    height: 10rem;
    right: -12%;
    top: 20rem;
    background-position: center;
}
.nubes3{
    position: absolute;
    width: 25%;
    height: 10rem;
    top: 5rem;
    right: -7%;
    background-position: center;
}
.nubes4{
    position: absolute;
    left: -12%;
    height: 10rem;
    top: 21rem;
    width: 25%;
}
.niños{
    width: 45%;
    position: relative;
    top: 17rem;
    left: 27%;
}
.cesped{
    position: relative;
    top: 9.5rem;
    width: 100%;
    height: 5.5rem;
}
.cesped2{
    position: relative;
    top: 15.5rem;
    width: 100%;
    height: 5.5rem;
}
}