html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d4eaed;
}

/*menu de hamburguesa*/
.nav-list {
    list-style: none;
    flex-direction: column;
    margin: 0;
    background-color: #d4eaed;
    position: absolute;
    display:flow-root;
    padding: 1rem;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .1);    
}
.nav-list{
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}
.nav-list li a {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: black;
}
.nav-list.visible{
    opacity: 1;
    visibility: visible;
    transition: 0.7s;
}

/*boton de menu*/
.hamburger-abrir {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 1.5rem;
    width: 30px;
}
.bar-abrir {
    width: 25px;
    height: 3px;
    background-color: #ffa64d;
    margin: 2px;
}
.hamburger-cerrar {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin: 0;
    width: 30px;
}
.bar-cerrar1 {
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    background-color: #ffa64d;
    position: absolute;
    top: 0.5rem;
    left: 180%;
}
.bar-cerrar2 {
    width: 25px;
    height: 3px;
    transform: rotate(135deg);
    background-color: #ffa64d;
    position: absolute;
    top: 0.5rem;
    left: 180%;
}
@media (min-width: 368px) {

.bar-abrir {
    width: 45px;
    height: 5px;
    margin: 4px;
    border-radius: 40px;
}
.nav-list {
        padding: 1.8rem;
}
.nav-list li a {
        font-size: 16px;
}
.bar-cerrar1 {
    width: 35px;
    height: 5px;
    top: 0.2rem;
    left: 280%;
}
.bar-cerrar2 {
    width: 35px;
    height: 5px;
    top: 0.2rem;
    left: 280%;
}
}